.contentPane {
	float: left;
	width: calc(100% - 70px);
	padding-top: 15px;
}





/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.contentPane {
		width: calc(100% - 200px);
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}