.navigationPane {
	/* Block */
	width: 70px;
	height: 100vh;
	float: left;

	/* Style */
	background-color: $darkGrey;

	/* Text */
	color: #fff;

	/* Transform */
	transition: width 0.3s ease;

	ul,li {
		margin: 0;
		padding: 0;
		list-style: none;
	}


	a {
		display: block;
		width: 100%;
		color: #fff;
		text-align: center;
		padding: 5px 0;

		.material-icons {
			vertical-align: middle;
			margin: 0;
		}

		span {
			text-transform: uppercase;
			display: none;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		&:hover,
		&:focus {
			background-color: lighten($darkGrey, 15%);

			.material-icons {
				color: $yellow;
				text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
			}
		}
	}

}






/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.navigationPane {
		/* Block */
		width: 200px; 

		a {
			text-align: left;
			padding: 10px;

			.material-icons {
				margin-right: 10px;
			}

			span {
				display: inline-block;
				opacity: 1; 
			}
		}
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}